body, input, button, div, span, div.showProjects {
  margin: 0;
  padding: 0;
  font: 400 16px Tahoma
}

.App {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.search-for-profile {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

input.search {
  height: 50px;
  width: 80%;
  margin: 10px;
}

button.search {
  height: 50px;
  width: 10%;
  margin: 10px
}

.profile-info {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap
}

.firstBox {
  margin: 10px
}

.secondBox {
  margin: 10px;
  width: auto
}

div.profile-avatar {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: solid thin #5e565b;
  margin-bottom: 10px
}

.filter-info {
  width: auto;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input.filter {
  height: 50px;
  width: 300px
}

div.buttons {
  height: 50px;
  width: auto
}

button.open, button.show, button.hide {
  height: 50px;
  width: 80px
}

div.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.projects {
  border: solid thin #5e565b;
  margin-top: 20px;
  padding-left: 10px;
}

div.detailed-info {
  border: solid thin #5e565b;
  padding-left: 10px;
  margin-top: 20px
}

button {
  background-color: #f0f0f5;
  border: solid thin #5e565b;
  color: #5e565b;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 8px;
  border-radius: 2px
}

.project-name {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: flex-start;
}

button.showProject, button.hideButton {
  height: 40px;
  width: 80px
}

h3 {
  color: black
}

div.showingProjects {
  height: 50px;
}

button.restoredButton {
  width: 80px;
  height: 40px
}

span {
  font-style: italic;
  margin-right: 10px
}

@media screen and (max-width: 790px) {
  body, input, button, div, span {
    font-size: 14px
  }
  button.search {
    width: 60px
  }
  input.search {
    width: 200px;
    margin: 5px;
  }
  .search-for-profile {
    justify-content: flex-start;
  }
  div.profile-avatar {
    display: none;
  }
  div.detailed-info {
    margin-top: 0px
  }
  .filter-info {
    height: 150px;
    justify-content: flex-start;
  }
  .input-filter {
    margin-bottom: 0
  }
  .project-name p {
    width: 250px;
  }
  button.showProject, button.hideButton {
  }
  button.open {
    margin-left: 0px
  }
}

@media screen and (max-width: 345px) {
  div.detailed-info {
    max-width: 245px;
    margin-top: 40px
  }
  input.filter {
    max-width: 250px
  }
  div.projects {
    max-width: 245px
  }
}

@media screen and (min-width: 321px) {
  div.detailed-info {
    margin-top: 0px
  }
}

@media screen and (min-width: 450px) and (max-width: 650px) {
  div.profile-avatar {
    display: block;
    margin-bottom: 20px
  }
  .project-name p {
    width: 350px
  }
  input.search {
    width: 330px
  }
  div.detailed-info {
    width: 390px
  }
  input.filter {
    width: 399px
  }
}

@media screen and (min-width: 525px) and (max-width: 650px) {
  .project-name p {
    width: 150px
  }
  button.open {
    margin-left: 10px
  }
  input.search {
    width: 330px
  }
}

@media screen and (min-width: 650px) and (max-width: 790px) {
  div.profile-avatar {
    display: block
  }
  input.search {
    width: 330px
  }
  input.filter {
    margin-right: 10px
  }
  .filter-info {
    height: 50px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1040px){
  .secondBox {
    width: 400px
  }
  .filter-info {
    height: 100px;
    justify-content: flex-start;
  }
  input.filter {
    margin-bottom: 10px;
    max-width: 500px;
  }
  div.buttons {
    margin-bottom: 20px
  }
  .project-name p {
    width: 350px;
  }
  div.project-name {
    margin-bottom: 20px
  }
}

@media screen and (min-width: 860px) and (max-width: 937px){
  input.filter {
    width: 400px
  }
}
